.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: auto;
padding: 0px 140px;
background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
margin-bottom: 150px;
gap: 30px;
}
    .newsletter h1{
        color: #454545;
        font-size: 55px;
        font-weight: 600;
    }
    .newsletter p{
        color: #454545;
        font-size: 20px;
    }
    .newsletter div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: white;
        width: 730px;
        height: 70px;
        border-radius: 80px;
        border: 1px solid #e3e3e3;
    }
    .newsletter input{
        width: 500px;
        margin-left: 30px;
        border: none;
        outline: none;
        color: #616161;
        font-size: 16px;
    }
    .newsletter div button{
        width: 210px;
        height: 70px;
        border-radius: 80px;
        background: black;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    @media (max-width: 768px) {
  .newsletter {
    width: 90%;
    height: auto;
    padding: 20px;
    margin-bottom: 100px;
    gap: 20px;
  }

  .newsletter h1 {
    font-size: 32px;
    text-align: center;
  }

  .newsletter p {
    font-size: 16px;
    text-align: center;
  }

  .newsletter div {
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
  }

  .newsletter input {
    width: 100%;
    margin-left: 0;
    height: 50px;
    font-size: 14px;
  }

  .newsletter div button {
    width: 100%;
    height: 50px;
    font-size: 14px;
  }
}