.productdisplay{
    display: flex;
    margin: 0px 170px;

}
.productdisplay-left{
    display: flex;
    gap: 17px;
}
.productdisplay-img-ilst{
    display: flex;
   flex-direction: column;
   gap: 16px;
}
.productdisplay-img-ilst img{
    height: 163px;
}
.productdisplay-main-img{
     width: 586px;
     height: 700px;
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;

}
.productdisplay_right_prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay_right_price_old{
    color: #818181;
    text-decoration: line-through;

}
.productdisplay_right_price_new{
    color: #ff4141;
}
.productdisplay_right_size h1{
margin-top: 55px;
color: #656565;
font-size: 20px;
font-weight: 600;
}
.productdisplay_right_sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.productdisplay_right_sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay_right_category{
    margin-top: 10px;

}
.productdisplay_right_category span{
    font-weight: 600;
}
@media (max-width: 768px) {
  .productdisplay {
    flex-direction: column;
    margin: 0px 20px;
    gap: 40px;
  }

  .productdisplay-left {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .productdisplay-img-ilst {
    flex-direction: row;
    justify-content: center;
    gap: 12px;
  }

  .productdisplay-img-ilst img {
    height: 100px;
  }

  .productdisplay-main-img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }

  .productdisplay-right {
    margin: 0;
    align-items: center;
    text-align: center;
  }

  .productdisplay-right h1 {
    font-size: 28px;
  }

  .productdisplay_right_prices {
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
  }

  .productdisplay_right_size h1 {
    font-size: 18px;
    margin-top: 40px;
  }

  .productdisplay_right_sizes {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .productdisplay-right button {
    width: 100%;
    padding: 16px;
    font-size: 15px;
  }

  .productdisplay_right_category {
    font-size: 16px;
  }
}